pagefind-searchbox {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #22d3ee;
  --pagefind-ui-text: #e2e8f0;
  --pagefind-ui-background: #020617;
  --pagefind-ui-border: #334155;
  --pagefind-ui-tag: #1e293b;
}
